* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
}

.font1 {
    font-size: small;
    color: gray;
}

.font2 {
    font-size: x-small;
    color: gray;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.mid-top-header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.main {
    background-color: whitesmoke;
}

.hr1 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 20, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clickable:hover {
    color: black;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: space-around;
    padding: 75px;
    padding-right: 150px;
    padding-left: 150px;
}

.left-main {
    flex-grow: 1;
}

.right-main {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    justify-content: space-around;
}

.bottles-container {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.wine-box {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 7em;
    background-color: white;
    padding: 50px;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}

.left-main {
    display: flex;
    height: 30em;
    width: 5em;
    background-color: white;
    padding: 50px;
}

.middle-banner {
    height: 6em;
    background-color: white;
    margin: 1em;
}

.page-nav {
    height: 2.5em;
    background-color: white;
    border-radius: 2.5em;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.left-upper-footer {
    font-size: smaller;
    display: flex;
    gap: 20px;
}

.clickable2:hover {
    cursor: pointer;
    color: rgb(78, 78, 78);
}

.lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-lower-footer {
    display: flex;
    gap: 20px;
    padding: 5px;
}

.padded {
    margin: 1em;
}